/*@import 'normalize.css';*/

/*@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");*/

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "./components/microplanning.scss";
@import "./pages/employee/index.scss";

.digit-employeeCard-inputError{
    border-color: #D4D4D4;
    border-radius: 8px;
}
.label-styles {
    font-size: 16px;
    font-weight: 400;
    color: #363636;
}

.digit-card-section-header{
    font-size: 24px;
    font-weight: 700;
    color: #0B0C0C;
}
.digit-form-card-subheader{
    font-size: 40px;
    font-weight: 700;
    color: #363636;
}
.stepper-circle.active{
    background-color:#006769;
    border-color:#006769
}
.stepper-label{
    font-size: 16px;
    font-weight: 400;
    color: #505A5F;
}

.stepper-label.completed{
    font-size: 16px;
    font-weight: 700;
    color: #0B0C0C;
}

.digit-card-component{
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 16px;
}
